{% extends "layout.html" %}
{% block body %}

{# comentario #}
{# ----el motor de plantilla Flask usa jinja2 , si se usa entre {%   %}  #}
{# ----recibo mensajes de flash, en la var messages se obtiene el listado de mensajes obtenidos por la fun get_flashed_messages() #}
{% with messages = get_flashed_messages()  %}
{# ----pregunto si existe mensajes  #}
{% if messages %}
{# ----recorro mensajes  #}
{% for message in messages %}
{# ----muestro mensaje  #}
  <p>{{ message }}</p>
{% endfor %}
{% endif %}
{% endwith %}



<form action="/add_reg" method="POST">
  <input type="text" name="clave" placeholder="Clave">
  <input type="text" name="valor" placeholder="Valor">
  <button type="submit">
    Save
  </button>
</form>
<table>
  <thead>
    <tr>
      <td>clave</td>
      <td>valor</td>
      <td>Operations</td>
    </tr>
  </thead>  
  <tbody>
    {% for reg in registros %}
          <tr>
            <td>{{reg.0}}</td>
            <td>{{reg.1}}</td>
            <td>
              <a href="/edit_reg/{{reg.0}}" class="btn btn-secondary">edit</a>
              <a href="/delete_reg/{{reg.0}}" class="btn btn-danger btn-delete">delete</a>
            </td>

          </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}