<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Demopy App</title>

    <!-- para manejar los estilos -->
    <link rel="stylesheet"  href="/static/css/bootstrap.min.css"/>
  </head>
  </head>
  <body>
    <div class="container">
      {# block body - para indicar a jinja que el block body es lo unico que
      cambia #} {% block body %} {% endblock %}
    </div>
    <!-- scripts -->
      <script src="{{url_for('static', filename='js/main.js')}}"></script>
  </body>
</html>
